<div class="dashboard ">


 <app-new-article *ngIf="showArticleModel" class="fixed top-0 left-0 bg-black z-50 w-full h-full bg-opacity-60  " ></app-new-article>

<div class="dbheader h-40 fixed flex items-center justify-around bg-gray shadow-md shadow-white top-0 left-0 z-30  w-full">
    <div  class="hidden md:flex mx-5 text-2xl font-bold  bg-blue text-white p-3 custom-box">
        MP
    </div>
   
    <div class="flex h-20 w-1/2  rounded-3xl  outline outline-3  outline-sky text-3xl px-5 bg-white">
        <div class="flex items-center justify-center">
            <fa-icon [icon]="search"></fa-icon>
        </div>
        
        <input class="h-20 w-full   outline-none text-3xl px-5"  type="search" name="" id="" placeholder="Search..." >
    </div>

    <div class="flex flex-col gap-3 mx-5 md:flex-row justify-center md:gap-6 items-center w-1/4">

        <div class="flex justify-center items-center">
            <fa-icon [icon]="notificationIcon" class="text-4xl"></fa-icon>
            <span class="-mt-6 text-xl font-black text-red">23</span>
        </div>

       <div class="flex justify-center items-center text-xl  gap-3"> 
        <img
        src="../../../../../../assets/user.png"
        alt="User Photo"
        referrerpolicy="no-referrer"
        class="rounded-full h-8 w-8  object-cover border-2 border-gray-300 my-5 md:my-1 md:mx-2"
         />

         <div class="font-black" >
            {{logedUser.role}}
         </div>

         <div class="font-black text-blue mx-10">
            <button type="button" (click)="logout()">Logout</button>
         </div>
       </div>


   
    </div>
     

</div>

    <div class="text-2xl  w-full flex h-screen  bg-gray fixed overflow-y-auto " >
        
        <div class="sidebar w-1/5 h-full p-5 bg-cyan  text-sky font-bold hover:bg-harmony pt-40 bg-midnight ">
         DASHBOARD

          <hr class=" mt-10">
          <button class="mt-10   p-3 rounded hover:bg-sky hover:text-black text-sky font-bold cursor-pointer transition duration-900 ease-in-out" type="button" (click)="goHome()"><fa-icon [icon]="home" class="px-5  text-3xl " ></fa-icon>  Home</button>
          <button class="mt-10   p-3 rounded hover:bg-sky hover:text-black text-sky font-bold cursor-pointer transition duration-900 ease-in-out" type="button" (click)="getUsers()"><fa-icon [icon]="userIcon" class="px-5  text-3xl " ></fa-icon>  Users</button>
          <div class="mt-10   p-3 rounded hover:bg-sky hover:text-black text-sky font-bold cursor-pointer" (click)="showArticleList()"> <fa-icon [icon]="fileIcon" class="px-5  text-3xl h"></fa-icon>Articles</div>

          
        </div>

        <div class="main w-4/5 p-5 mx-5  mt-32 "> 
            
            <div class="cards flex justify-center gap-12 items-center">
                <div class="userNumbers shadow-xl w-1/4 h-40 flex justify-center items-center bg-white text-black rounded-xl mt-5">
                    239 users
                </div>

                <div class="articleNumbers shadow-xl w-1/4 h-40 flex items-center justify-center bg-white text-black rounded-xl mt-5">
                    345 Articles
                </div>
                
                <button type="button" (click)="showArticleForm(true)" class="bg-green ml-10 p-3 rounded-xl text-white font-bold px-5">New Article</button>
               


            </div>

            <div class="userTable shadow-md w-full h-3/4 p-5 justify-center items-center bg-white text-black rounded-xl mt-2 overflow-auto">
                <div class="overflow-x-auto">
                    <table class="table-auto min-w-full divide-y divide-gray-200">
                      <thead class="bg-gray-50">
                        <tr>
                          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">First Name</th>
                          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Last Name</th>
                          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Phone</th>
                          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
                          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Role</th>
                          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Admin Approval</th>
                          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Manager Approval</th>
                          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">MoMo Payment Response</th>
                        </tr>
                      </thead>
                      <tbody class="bg-white divide-y divide-gray-200" *ngFor="let user of users">
                        
                        <tr>
                          <td class="px-6 py-4 whitespace-nowrap">{{user.firstName}}</td>
                          <td class="px-6 py-4 whitespace-nowrap">{{user.lastName}}</td>
                          <td class="px-6 py-4 whitespace-nowrap">{{user.phone}}</td>
                          <td class="px-6 py-4 whitespace-nowrap">{{user.email}}</td>
                          <td class="px-6 py-4 whitespace-nowrap">{{user.role}}</td>
                          <td class="px-6 py-4 whitespace-nowrap">
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                <button ngClass="" class="text-2xl p-1 w-32 rounded-md text-white" [ngClass]="{'bg-green': user.adminApproval, 'bg-red': !user.adminApproval}"(click)="adminApprove(user.id)">{{user.adminApproval}}</button></span>
                          </td>
                          <td class="px-6 py-4 whitespace-nowrap">
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"><button [ngClass]="{'bg-blue':user.managerApproval,'bg-red':!user.managerApproval}" class="text-2xl  p-1 w-32 rounded-md text-white" (click)="managerApproval(user.id)">{{user.managerApproval}}</button></span>
                          </td>
                          <td class="px-6 py-4 whitespace-nowrap">{{user.momoPaymentResponse}}</td> 
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
            </div>
          
        </div>

    </div> 

</div>

