<div class=" modal-content bg-white w-full h-full p-10 rounded-xl">

  <div class="flex justify-between">
    <app-text-atom>Signup</app-text-atom>  
    <div>
      <fa-icon class="text-xl text-red font-black" (click)="closeForm(false)" [icon]="close"></fa-icon>
    </div>
  </div>
    
    <div id="conainer" class="container w-full">
   
          <app-input-molecule [inputProps]="firstNameInput" [groupName]="signupForm"  ></app-input-molecule>
          <app-input-molecule [inputProps]="laststNameInput" [groupName]="signupForm"  ></app-input-molecule>
          <app-input-molecule [inputProps]="phoneInput" [groupName]="signupForm"  ></app-input-molecule>
          <app-input-molecule [inputProps]="emailInput" [groupName]="signupForm"  ></app-input-molecule>
          <app-input-molecule [inputProps]="passwordInput" [groupName]="signupForm"  ></app-input-molecule>
          <app-button-atom btnValue="Signup" type="button" (click)="submitForm()" [groupName]="signupForm" [disabled]="!signupForm.valid" className="border bg-blue text-white p-2 mt-5 rounded-lg w-full md:w-40 "></app-button-atom>

      </div>
      
</div>